Flask==3.0.2
Flask-CORS==4.0.0
psycopg2-binary==2.9.9
requests==2.31.0
textblob==0.17.1
python-dotenv==1.0.1
gunicorn==21.2.0
--only-binary=:all: numpy==1.22.4
--only-binary=:all: pandas==1.4.3
--only-binary=:all: scikit-learn==1.1.2
yfinance==0.2.37
PyJWT==2.8.0
werkzeug==3.0.1 